<app-menu></app-menu>
<script>// Code goes here
  var myApp = angular.module('myApp', []);
  
   myApp.controller('calculatorCtrl', function($scope) {
     
  
     function add(x, y) {
       return x + y;
     }
  
     function sub(x, y) {
       return x - y;
     }
  
    
  
     function calc(op, x, y) {
       return $scope.operators[op](parseInt(x), parseInt(y));
     }
  
     $scope.operators = {
       '+': add,
       '-': sub,
       
     };
     $scope.op = '+';
     $scope.calc = calc;
  
   });</script>